# 데이터 통합 과정 (참고용)

* .py 스크립트 작성 전 csv 파일 기반 데이터 통합 및 전처리 과정 기록
* merged_data: 통합된 데이터
* 구글 드라이브 데이터 업로드 -> mount 하여 사용

In [1]:
# 구글 드라이브 데이터 업로드 -> mount
# 추후 data 폴더에서 데이터 받아오는 형식으로 수정
import sys
from google.colab import drive
drive.mount('/content/drive')
sys.path.append('/content/drive/MyDrive/BDP_data')

Mounted at /content/drive

In [18]:
!ls /content/drive/MyDrive/BDP_data

 merged_data
 preprocessed_data
'소상공인시장진흥공단_상가(상권)정보_강원_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_경기_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_경남_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_경북_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_광주_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_대구_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_대전_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_부산_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_서울_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_세종_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_울산_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_인천_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_전남_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_전북_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_제주_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_충남_202409.csv'
'소상공인시장진흥공단_상가(상권)정보_충북_202409.csv'

In [3]:
import os
import glob
import pandas as pd

# 데이터 폴더 경로
# 추후 수정
data_dir = '/content/drive/MyDrive/BDP_data'
output_dir = '/content/drive/MyDrive/BDP_data/merged_data'

# merged_data 폴더 생성
if not os.path.exists(output_dir):
    os.makedirs(output_dir)  # 폴더가 없으면 생성

# 폴더 내 모든 CSV 파일 경로 가져오기
csv_files = glob.glob(f"{data_dir}/*.csv")

print("찾은 CSV 파일 목록:")
for file in csv_files:
    print(file)

찾은 CSV 파일 목록:
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_서울_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_세종_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_울산_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_인천_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_전남_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_전북_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_제주_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_충남_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_충북_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_강원_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_경기_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_경남_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_경북_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_광주_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_대구_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_대전_202409.csv
/content/drive/MyDrive/BDP_data/소상공인시장진흥공단_상가(상권)정보_부산_202409.csv

In [4]:
# 모든 CSV 파일 읽기
dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]

# 하나의 데이터프레임으로 병합
merged_data = pd.concat(dataframes, ignore_index=True)

# 병합된 데이터 확인
print("병합된 데이터:")
print(merged_data.tail())

<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]
<ipython-input-4-3500cd6270b6>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file, encoding='utf-8') for file in csv_files]

병합된 데이터:
                       상가업소번호        상호명  지점명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  \
2389482  MA0101202406A0476645       수연식당  NaN        I2       음식      I201
2389483  MA0101202406A0482972   페스티발가라오케  NaN        I2       음식      I211
2389484  MA0101202406A0471221    웰컴투뮤즈월드  NaN        P1       교육      P107
2389485  MA0101202406A0497602        슈아브  NaN        I2       음식      I212
2389486  MA0101202406A0470616  공동법률사무소문정  NaN        M1    과학·기술      M103

        상권업종중분류명 상권업종소분류코드 상권업종소분류명 표준산업분류코드  ...                     건물관리번호  \
2389482       한식    I20101   백반/한정식   I56111  ...  2635010300112910820017224
2389483       주점    I21104    요리 주점   I56219  ...  2635010600113930005005730
2389484    교육 지원    P10701   교육컨설팅업   P85701  ...  2623010300102260001005883
2389485    비알코올     I21201       카페   I56221  ...  2614011900100540003000245
2389486    법무관련     M10301      변호사   M71101  ...  2647010100114920003019273

            건물명                    도로명주소     구우편번호  신우편번호  동정보  층정보  호정보  \
2389482     NaN     부산광역시 해운대구 재반로 207-1  612814.0  48029  NaN    2  NaN
2389483     NaN        부산광역시 해운대구 구남로 29  612847.0  48095  NaN    4  NaN
2389484     NaN  부산광역시 부산진구 중앙대로680번길 22  614846.0  47296  NaN  NaN  NaN
2389485     NaN         부산광역시 서구 구덕로 147  602834.0  49245  NaN    2  NaN
2389486  대한타워빌딩    부산광역시 연제구 법원남로15번길 12  611730.0  47511  NaN    7  NaN

                 경도         위도
2389482  129.130625  35.195837
2389483  129.161026  35.161522
2389484  129.060463  35.153214
2389485  129.020472  35.097986
2389486  129.073684  35.190460

[5 rows x 39 columns]

In [5]:
# 병합된 데이터 저장 경로
output_file = os.path.join(output_dir, 'merged_data.csv')

# 병합된 데이터 저장
merged_data.to_csv(output_file, index=False, encoding='utf-8')
print(f"병합된 데이터 저장 완료: {output_file}")

병합된 데이터 저장 완료: /content/drive/MyDrive/BDP_data/merged_data/merged_data.csv

# 데이터 전처리 과정 (참고용)

## 1. 데이터 로드

In [6]:
import pandas as pd

# 통합된 데이터 경로
merged_data_path = '/content/drive/MyDrive/BDP_data/merged_data/merged_data.csv'

# 데이터 읽기
data = pd.read_csv(merged_data_path, encoding='utf-8')

# 데이터프레임 확인
print("데이터 크기:", data.shape)
print("데이터 컬럼:")
print(data.columns)
print("상위 5개 데이터:")
print(data.head())

# 데이터프레임의 컬럼별 데이터 타입 확인
print(data.dtypes)

<ipython-input-6-af6daac1718e>:7: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(merged_data_path, encoding='utf-8')

데이터 크기: (2389487, 39)
데이터 컬럼:
Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')
상위 5개 데이터:
                 상가업소번호       상호명  지점명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  \
0  MA0101202210A0093845     이상한스냅  NaN        M1    과학·기술      M113
1  MA010120220805430767       토끼정  NaN        I2       음식      I201
2  MA010120220805430797       가배차  NaN        I2       음식      I201
3  MA010120220805430812  비에이치씨항동점  NaN        I2       음식      I210
4  MA010120220805430834   무지개삼성약국  NaN        G2       소매      G215

    상권업종중분류명 상권업종소분류코드 상권업종소분류명 표준산업분류코드  ...                     건물관리번호  \
0      사진 촬영    M11301    사진촬영업   M73303  ...  1147010300100090004000001
1         한식    I20101   백반/한정식   I56111  ...  1150010500107740012000001
2         한식    I20101   백반/한정식   I56111  ...  1171010400101430002012823
3      기타 간이    I21006       치킨   I56193  ...  1153011200101000005000001
4  의약·화장품 소매    G21501       약국   G47811  ...  1168011400106840005002734

               건물명              도로명주소     구우편번호 신우편번호  동정보  층정보  호정보  \
0             백송주택  서울특별시 양천구 월정로 283  158822.0  7902  NaN  NaN  NaN
1            마커스빌딩  서울특별시 강서구 마곡동로 55  157805.0  7802  NaN    2  NaN
2           사이언스빌딩  서울특별시 송파구 가락로 209  138852.0  5663  NaN    1  NaN
3  항동중흥에스클래스베르데카운티  서울특별시 구로구 연동로 233  152140.0  8362  NaN    1  NaN
4             대훈빌딩   서울특별시 강남구 일원로 45  135516.0  6343  NaN  NaN  NaN

           경도         위도
0  126.828832  37.542117
1  126.833022  37.560053
2  127.116136  37.507170
3  126.820686  37.481640
4  127.081499  37.489893

[5 rows x 39 columns]
상가업소번호        object
상호명           object
지점명           object
상권업종대분류코드     object
상권업종대분류명      object
상권업종중분류코드     object
상권업종중분류명      object
상권업종소분류코드     object
상권업종소분류명      object
표준산업분류코드      object
표준산업분류명       object
시도코드           int64
시도명           object
시군구코드          int64
시군구명          object
행정동코드          int64
행정동명          object
법정동코드          int64
법정동명          object
지번코드           int64
대지구분코드         int64
대지구분명         object
지번본번지        float64
지번부번지        float64
지번주소          object
도로명코드        float64
도로명           object
건물본번지        float64
건물부번지        float64
건물관리번호        object
건물명           object
도로명주소         object
구우편번호        float64
신우편번호          int64
동정보          float64
층정보           object
호정보          float64
경도           float64
위도           float64
dtype: object

In [7]:
#컬럼명 확인 및 정리
print("원본 컬럼명:", list(data.columns))
data.columns = data.columns.str.strip()  # 공백 제거
print("정리된 컬럼명:", list(data.columns))

원본 컬럼명: ['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드', '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드', '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지', '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보', '호정보', '경도', '위도']
정리된 컬럼명: ['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드', '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드', '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지', '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보', '호정보', '경도', '위도']

## 2. 결측값 처리

In [8]:
# 컬럼별 결측값 개수 확인
print("\n>> 결측값 처리 중...")
missing_values = data.isnull().sum()
print("컬럼별 결측값 개수:\n", missing_values)

>> 결측값 처리 중...
컬럼별 결측값 개수:
 상가업소번호             0
상호명                1
지점명          2334128
상권업종대분류코드          0
상권업종대분류명           0
상권업종중분류코드          0
상권업종중분류명           0
상권업종소분류코드          0
상권업종소분류명           0
표준산업분류코드         663
표준산업분류명          663
시도코드               0
시도명                0
시군구코드              0
시군구명               0
행정동코드              0
행정동명               0
법정동코드              0
법정동명               0
지번코드               0
대지구분코드             0
대지구분명              0
지번본번지            637
지번부번지         483403
지번주소               0
도로명코드           1423
도로명                0
건물본번지           1424
건물부번지        1911941
건물관리번호           201
건물명          1570506
도로명주소              0
구우편번호          18451
신우편번호              0
동정보          2389487
층정보          1195943
호정보          2389487
경도                 0
위도                 0
dtype: int64

### 결측값 처리 기준

(1) 컬럼 삭제

- 결측값 비율이 높아 유의미한 분석 불가능.
- 주요 분석에 필요하지 않은 정보.

- 지번부번지: 결측값 약 48만 건 (20.2%)
- 건물부번지: 결측값 약 191만 건 (80%)
- 동정보: 모든 값 결측.
- 층정보: 결측값 약 50.0% 및 불규칙한 값 존재 확인. 분석에 도움이 되지 않는 정보.
- 호정보: 모든 값 결측.

(2) 결측값 대체

- 지점명: 결측값을 '본점'으로 대체.
- 기준: 지점명이 없는 상호는 본점으로 간주.
- 지번본번지, 도로명코드, 건물본번지: 결측값을 0으로 대체.
- 구우편번호: 결측값을 0으로 대체.

(3) 행 삭제
- 분석에 핵심적인 정보가 결측된 경우 해당 행을 삭제
- 상호명, 표준산업분류코드, 표준산업분류명 중 하나라도 결측인 행 삭제. (업소 및 업종에 대한 분석에 필수적이므로 결측값을 허용할 수 없음)

In [9]:
import pandas as pd
import re

# 1. 삭제 대상 컬럼 제거
columns_to_drop = ['지번부번지', '건물부번지', '동정보', '층정보', '호정보']
data = data.drop(columns=columns_to_drop, errors='ignore')
print(f"삭제된 컬럼: {columns_to_drop}")

# 2. 결측값 대체
# 지점명: 결측값을 '본점'으로 대체
data['지점명'] = data['지점명'].fillna('본점')

# 지번본번지, 도로명코드, 건물본번지: 결측값을 0으로 대체
data['지번본번지'] = data['지번본번지'].fillna(0).astype(int)
data['도로명코드'] = data['도로명코드'].fillna(0).astype(int)
data['건물본번지'] = data['건물본번지'].fillna(0).astype(int)

# 구우편번호: 결측값을 0으로 대체
data['구우편번호'] = data['구우편번호'].fillna(0).astype(int)

# 3. 삭제 대상 행 제거
data = data.dropna(subset=['상호명', '표준산업분류코드', '표준산업분류명'])
print("결측값이 있는 행 삭제 완료")

# 결측값 처리 후 확인
print("\n결측값 처리 후 데이터 크기:", data.shape)
print("컬럼별 결측값 개수:\n", data.isnull().sum())

삭제된 컬럼: ['지번부번지', '건물부번지', '동정보', '층정보', '호정보']
결측값이 있는 행 삭제 완료

결측값 처리 후 데이터 크기: (2388823, 34)
컬럼별 결측값 개수:
 상가업소번호             0
상호명                0
지점명                0
상권업종대분류코드          0
상권업종대분류명           0
상권업종중분류코드          0
상권업종중분류명           0
상권업종소분류코드          0
상권업종소분류명           0
표준산업분류코드           0
표준산업분류명            0
시도코드               0
시도명                0
시군구코드              0
시군구명               0
행정동코드              0
행정동명               0
법정동코드              0
법정동명               0
지번코드               0
대지구분코드             0
대지구분명              0
지번본번지              0
지번주소               0
도로명코드              0
도로명                0
건물본번지              0
건물관리번호           201
건물명          1570125
도로명주소              0
구우편번호              0
신우편번호              0
경도                 0
위도                 0
dtype: int64

## 3. 데이터 정제

In [10]:
# 상가업소번호를 기준으로 중복 행을 제거
# 고유한 상점 정보만 유지하여 데이터의 정확성을 확보
print("\n>> 중복 제거 중...")
before_duplicates = data.shape[0]
data = data.drop_duplicates(subset=['상가업소번호'])
after_duplicates = data.shape[0]
print(f"중복 제거 완료: {before_duplicates - after_duplicates}개 중복 제거")

>> 중복 제거 중...
중복 제거 완료: 0개 중복 제거

In [11]:
# 컬럼의 고유 값 출력 -> 불필요한 컬럼 확인
print(data['상권업종대분류명'].unique())

['과학·기술' '음식' '소매' '시설관리·임대' '교육' '숙박' '부동산' '수리·개인' '예술·스포츠' '보건의료']

### 불필요한 컬럼 식별 기준

<필수 컬럼>
* 위치 정보: 경도, 위도, 시도명, 시군구명, 법정동명
* 업종 분포: 상권업종대분류명,  상권업종중분류명, 상권업종소분류명
* 상권 정보: 도로명주소, 지번주소

<불필요한 컬럼> - 분석에 무관/중복 컬럼
* 건물명, 건물관리번호, 구우편번호, 법정동코드, 행정동코드, 지번코드, 대지구분코드, 도로명코드, 도로명, 건물본번지, 지번본번지, 시도코드

In [12]:
# 불필요한 컬럼 제거

print("\n>> 불필요한 컬럼 제거 중...")
columns_to_drop = ['건물명', '건물관리번호', '구우편번호', '법정동코드', '행정동코드', '지번코드','대지구분코드', '도로명코드', '도로명', '건물본번지','지번본번지', '상가업소번호', '상권업종대분류코드', '상권업종중분류코드', '시도코드']  # 분석에 필요하지 않은 컬럼
data = data.drop(columns=columns_to_drop, errors='ignore')
print(f"불필요한 컬럼 제거 완료: {columns_to_drop}")

>> 불필요한 컬럼 제거 중...
불필요한 컬럼 제거 완료: ['건물명', '건물관리번호', '구우편번호', '법정동코드', '행정동코드', '지번코드', '대지구분코드', '도로명코드', '도로명', '건물본번지', '지번본번지', '상가업소번호', '상권업종대분류코드', '상권업종중분류코드', '시도코드']

## 4. 데이터 변환

* 경도, 위도 컬럼은 위치 정보를 나타내는 숫자형 데이터로, 올바른 분석과 시각화를 위해 숫자형(float)이어야 함
* 입력 오류, 공백, 문자열 등으로 인해 데이터 타입이 object로 잘못 저장된 경우가 있을 수 있음. 이를 변환하여 분석 정확성을 확보해야 함.

* 거리 계산, 상권 밀집도 분석, 클러스터링 등에 활용되므로 숫자형 데이터 필수
* 지도 시각화(예: folium 또는 matplotlib)에서 float 타입으로 처리 필요

In [13]:
# 데이터 타입 변환
print("\n>> 데이터 타입 변환 중...")

# 경도와 위도를 숫자형(float)으로 변환
data['경도'] = pd.to_numeric(data['경도'], errors='coerce')
data['위도'] = pd.to_numeric(data['위도'], errors='coerce')

# 변환 후 데이터 타입 확인
print("변환 후 데이터 타입:\n", data[['경도', '위도']].dtypes)

>> 데이터 타입 변환 중...
변환 후 데이터 타입:
 경도    float64
위도    float64
dtype: object

In [14]:
# 위도와 경도의 값이 유효한 범위 내에 있는지 확인
print("\n>> 데이터 유효성 확인 중...")
valid_longitude = (-180, 180)
valid_latitude = (-90, 90)

# 이상값 필터링
invalid_locations = data[
    (data['경도'] < valid_longitude[0]) | (data['경도'] > valid_longitude[1]) |
    (data['위도'] < valid_latitude[0]) | (data['위도'] > valid_latitude[1])
]
print(f"이상값 개수: {invalid_locations.shape[0]}")

# 이상값 제거
data = data[
    (data['경도'] >= valid_longitude[0]) & (data['경도'] <= valid_longitude[1]) &
    (data['위도'] >= valid_latitude[0]) & (data['위도'] <= valid_latitude[1])
]
print("유효하지 않은 위치 제거 완료")

>> 데이터 유효성 확인 중...
이상값 개수: 0
유효하지 않은 위치 제거 완료

## 5. 상권 상태 컬럼 추가

상권의 위치(경도/위도)를 기준으로 중심상권과 기타를 분류하여 상권 밀집도 파악
-> 창업 가능성이 높은 위치를 추천



1) 중심상권: 높은 상가 밀집도와 주요 상업 지역
* 위도 > 37.5, 경도 > 126.9 기준으로 분류

2) 기타: 위 조건에 해당하지 않는 지역

In [15]:
# 상권 상태 분류 함수
def classify_location(latitude, longitude):
    """
    위도와 경도를 기준으로 상권 상태를 분류.
    중심상권: 위도 > 37.5, 경도 > 126.9
    기타: 위 조건에 해당하지 않는 지역
    """
    if latitude > 37.5 and longitude > 126.9:
        return '중심상권'
    return '기타'

# 상권 상태 컬럼 추가
data['상권상태'] = data.apply(lambda x: classify_location(x['위도'], x['경도']), axis=1)

# 상권 상태 분포 확인
print("\n상권 상태 분포:")
print(data['상권상태'].value_counts())

# 상권 상태별 데이터 확인
print("\n상권 상태 데이터 예시:")
print(data[['상호명', '상권상태', '위도', '경도']].head())

상권 상태 분포:
상권상태
기타      1918695
중심상권     470128
Name: count, dtype: int64

상권 상태 데이터 예시:
        상호명  상권상태         위도          경도
0     이상한스냅    기타  37.542117  126.828832
1       토끼정    기타  37.560053  126.833022
2       가배차  중심상권  37.507170  127.116136
3  비에이치씨항동점    기타  37.481640  126.820686
4   무지개삼성약국    기타  37.489893  127.081499

## 6. 전처리된 데이터 저장

### 전처리된 데이터 확인

In [16]:
# 데이터프레임 확인
print("데이터 크기:", data.shape)
print("데이터 컬럼:")
print(data.columns)
print("상위 5개 데이터:")
print(data.head())

데이터 크기: (2388823, 20)
데이터 컬럼:
Index(['상호명', '지점명', '상권업종대분류명', '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명',
       '표준산업분류코드', '표준산업분류명', '시도명', '시군구코드', '시군구명', '행정동명', '법정동명', '대지구분명',
       '지번주소', '도로명주소', '신우편번호', '경도', '위도', '상권상태'],
      dtype='object')
상위 5개 데이터:
        상호명 지점명 상권업종대분류명   상권업종중분류명 상권업종소분류코드 상권업종소분류명 표준산업분류코드  \
0     이상한스냅  본점    과학·기술      사진 촬영    M11301    사진촬영업   M73303
1       토끼정  본점       음식         한식    I20101   백반/한정식   I56111
2       가배차  본점       음식         한식    I20101   백반/한정식   I56111
3  비에이치씨항동점  본점       음식      기타 간이    I21006       치킨   I56193
4   무지개삼성약국  본점       소매  의약·화장품 소매    G21501       약국   G47811

          표준산업분류명    시도명  시군구코드 시군구명  행정동명 법정동명 대지구분명                  지번주소  \
0          사진 처리업  서울특별시  11470  양천구  신월5동  신월동    대지     서울특별시 양천구 신월동 9-4
1      한식 일반 음식점업  서울특별시  11500  강서구  가양1동  마곡동    대지  서울특별시 강서구 마곡동 774-12
2      한식 일반 음식점업  서울특별시  11710  송파구  송파1동  송파동    대지   서울특별시 송파구 송파동 143-2
3          치킨 전문점  서울특별시  11530  구로구    항동   항동    대지    서울특별시 구로구 항동 100-5
4  의약품 및 의료용품 소매업  서울특별시  11680  강남구  일원1동  일원동    대지   서울특별시 강남구 일원동 684-5

               도로명주소  신우편번호          경도         위도  상권상태
0  서울특별시 양천구 월정로 283   7902  126.828832  37.542117    기타
1  서울특별시 강서구 마곡동로 55   7802  126.833022  37.560053    기타
2  서울특별시 송파구 가락로 209   5663  127.116136  37.507170  중심상권
3  서울특별시 구로구 연동로 233   8362  126.820686  37.481640    기타
4   서울특별시 강남구 일원로 45   6343  127.081499  37.489893    기타

In [17]:
import os

# 저장 경로 설정
base_folder = "/content/drive/MyDrive/BDP_data"  # 폴더 경로 (추후 수정)
sub_folder = "preprocessed_data"  # 저장할 하위 폴더 이름
file_name = "preprocessed_data.csv"  # 저장할 파일 이름 / 형식 추후 수정
output_path = os.path.join(base_folder, sub_folder, file_name)

# 1. preprocessed_data 폴더 생성
if not os.path.exists(os.path.join(base_folder, sub_folder)):  # 폴더가 없으면 생성
    print("\n>> preprocessed_data 폴더가 없으므로 생성 중...")
    os.makedirs(os.path.join(base_folder, sub_folder))
    print(f"폴더 생성 완료: {os.path.join(base_folder, sub_folder)}")
else:
    print("\n>> preprocessed_data 폴더가 이미 존재합니다. 생성하지 않습니다.")

# 2. 데이터 저장
print("\n>> 데이터 저장 중...")
data.to_csv(output_path, index=False, encoding='utf-8') # 파일 형식 추후 수정
print(f"데이터 저장 완료: {output_path}")

>> preprocessed_data 폴더가 이미 존재합니다. 생성하지 않습니다.

>> 데이터 저장 중...
데이터 저장 완료: /content/drive/MyDrive/BDP_data/preprocessed_data/preprocessed_data.csv